.Grupo{
    background-color: #FF7315;
    color: #E7F6F2;
    width: 40%;
    padding: 1%;
    margin: auto;
    border-radius: 10px ;
    margin-top: 100px;
    text-align: left;
}

.Grupo #Boton{
    text-align: right;
}